<div class="blog-header">
  <h1 class="blog-title">Task Blog 2016</h1>
</div>
<div class="row">
  <div class="col-sm-11 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">簡単な説明</h2>
      <p class="blog-post-meta">
      </p>
      <ul>
        <li>sign_inしていない場合、記事の閲覧のみすることができます。</li>
        <li>sign_inした場合、記事を投稿することができますがカテゴリを選択する必要があります。</li>
        <li>カテゴリはアカウントごとに管理されており、ユーザーがカテゴリを作る必要があります。</li>
      </ul>
    </div><!-- /.blog-post -->
  </div><!-- /.blog-main -->
</div>
